<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:500,100,700,300italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class = "header">
	<div class = "container">

		<div class = "row">

			<div class = "col-md-8">
				<ul>
					<li>About</li>
					<li>Philosophy</li>
					<li>Toolkit</li>
					<li>Contact</li>

				</ul>
			</div>

			<div class = "col-md-4">
				Maxim Pekarsky
			</div>



		</div>

	</div>
</div>


	<%= yield %>

</body>
</html>
